@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Lexend+Giga:wght@100..900&family=Poiret+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
}
body{
    background-image: url("image-32.png");
}
header{
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Poiret One", sans-serif;
}
#logoname{
    color: rgb(21, 191, 226);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    font-family: "Lexend Giga", sans-serif;
}
body{
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-size: 5vh;
}
header a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    margin-right: 50px;
}

.content{

height: 700px;

}
footer{
    background-color: black;
    border: 2px solid black;
    text-align: center;
    color: white;
    height: 40px;

}
footer a{
    color:white;
    font-size: 20px ;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
