@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Lexend+Giga:wght@100..900&family=Poiret+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
}
body{
    width: 99vw;
    background-image: url("image-32.png");
    min-height: 100vh;
}
.Nevigation{
   
padding-right: 2vh;
    width: 99vw;
    background-color: black;
    justify-content: space-around;
font-family: "Poiret One", sans-serif;}

#logoname{
    color: rgb(21, 191, 226);
    font-size: 2.1rem;
    font-weight: bold;
    text-decoration: none;
    font-family: "Lexend Giga", sans-serif;
}

body{
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-size: 2rem;
}
header a{
    color: white;
    text-decoration: none;
    font-size:1.5rem;
    margin: 1vw;
    padding: 0.5vh;
    display: inline-block;

}
h1{
    color:white;
    background: none;
    margin: 1vw; 
    text-align: center;
    font-size: 200%;  
}
p{
    color:white;
    background: none;
    margin: 1vw;
    font-size: 1.8rem;
    font-weight: bold;

}
.content{
    /* margin: 2vw; */
    border: 1px solid white;
    min-height: 100vh;
    margin: auto;
    width:98vw;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}
.content .FileofC{
    width: 50%;
    height: 20%;
    background-color: rgb(21, 191, 226);
    text-align: center;
    line-height: 17vh;
    font-size: 1.8rem;
    padding: 1.5vh;
    font-weight: bold;
    border-radius: 10px;
    display: inline;
  
}
footer{
    background-color: black;
    border: 2px solid black;
    text-align: center;
    color: white;
    height: 40px;
    

}
footer a{
    color:white;
    font-size: 20px ;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
.team-member{
    margin: 20px;
    border: 1px solid white;
    height: 700px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    text-align: center;
    
}
#Box1{
    color:white;
}
